KERNEL=="castle-control", NAME="castle/control"
KERNEL=="castle[0-9]*", NAME="castle/%k"
SUBSYSTEM=="fs", ACTION=="change", DEVPATH=="/fs/castle", RUN+="/etc/castle/udev-watch $env{CMD} $env{ARG}"
